[build]
  command = "npm run build"

[functions]
  node_bundler = "esbuild"

# Cache Remix build assets correctly
[[headers]]
  for = "/assets/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
